@model Vet_Clinic.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "EditUser";
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Users</li>
    </ol>
</section>
<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7 center-block">

                <div style="text-align:center">
                    <h3 class="card-title">Edit User</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">

                        <form method="post">
                            <div class="card-body">
                                <div class="form-group">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="form-group ">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber" class="control-label"></label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a asp-action="ListUsers" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To Users</a>
                                    </div>
                                </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>User Roles</h3>
                                        </div>
                                        @if (Model.Roles.Any())
                                        {
                                            foreach (var role in Model.Roles)
                                            {
                                                <h5 class="card-title">@role.Text</h5>
                                            }
                                        }
                                        else
                                        {
                                            <h5 class="card-title">None at the moment</h5>
                                        }
                                    </div>
                                    <div class="card-footer">
                                        <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id"
                                           class="btn btn-foursquare">
                                            Manage Roles
                                        </a>
                                    </div>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

