@model Vet_Clinic.Web.Models.OwnerViewModel

@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Owner
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Owner</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">

            <form class="form-horizontal" method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="box-body">
                   
                  
                    <partial name="_User" />

                   

                   
                    <!-- /.box-body -->
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-success " />
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationCurrencyPartial");}

}