<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vet Clinic Web</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/bootstrap.css.map">
    <link rel="stylesheet" href="~/lib/font-awesome/css/bootstrap.css">


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <!-- Font Awesome  -->
    <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css">


    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/font-awesome/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.css">
    <link href="~/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <link href="~/dist/css/skins/_all-skins.css" rel="stylesheet" />


    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini ">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a asp-controller="Home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>PE</b>TS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Veterinary </b> Clinic <i class="fa fa-heartbeat" aria-hidden="true"></i></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/dist/img/if2.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Welcome</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/dist/img/if2.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Joana Roque - Web Project
                                        <small>Versão 1.0</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav navbar-right">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <li> <a asp-area="" asp-controller="Account" asp-action="ChangeUser">Hello @this.User.Identity.Name</a>  </li>
                                                    <li class="navbar-custom-menu"> <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a> </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item d-none d-sm-inline-block">
                                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <ul class="nav navbar-nav">

                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Admin</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a asp-area="" asp-controller="" asp-action="">Users</a></li>
                                                        <li><a asp-area="" asp-controller="" asp-action="">Roles</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/if1.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Clinic</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for Id">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>

                    <!-- Optionally, you can add icons to the links -->
                    <li class="active">
                        <a asp-controller="Appointments" asp-action="Index">
                            <i class="far fa-calendar-times"></i>
                            <span>  Appointments</span>
                        </a>
                    </li>
                    <li class="active">
                        <a asp-controller="ServiceTypes" asp-action="Index">
                            <i class="fas fa-concierge-bell"></i>
                            <span>  Service Types</span>
                        </a>
                    </li>
                    <li class="active">
                        <a asp-controller="Assistant" asp-action="Index">
                            <i class="fa fa-female"></i>
                            <span> Assistants</span>
                        </a>
                    </li>
                    <li class="active">
                        <a asp-controller="Doctors" asp-action="Index">
                            <i class="fa fa-user-md"></i>
                            <span> Doctors</span>
                        </a>
                    </li>
                    <li class="active">
                        <a asp-controller="Owners" asp-action="Index">
                            <i class="fas fa-user-friends"></i>
                            <span>  Owners</span>
                        </a>
                    </li>

                    <li class="active">
                        <a asp-controller="Pets" asp-action="Index">
                            <i class="fa fa-paw"></i>
                            <span> Pets</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            Species
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left "></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a asp-controller="Species" asp-action="Index">
                                    <i class="fas fa-cat"></i>
                                    <i class="fas fa-dog"></i>
                                    <i class="fas fa-frog"></i>
                                    <i class="fas fa-spider"></i>
                                    <i class="fas fa-dragon"></i>
                                    <i class="fas fa-fish"></i>
                                    <i class="fas fa-hippo"></i>
                                </a>
                            </li>
                        </ul>

                    </li>

                </ul>

                <!-- /.sidebar-menu -->
            </section>
            <partial name="_CookieConsentPartial" />

            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Version 1.0 &copy; 2020 <a href="http://www.uniaozoofila.org/">União Zoolofica</a>.</strong> All rights reserved.
        </footer>
    </div>

    <script src="~/lib/font-awesome/js/jquery.min.js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="~/dist/js/bootstrap.min.js"></script>

    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/dist/js/adminlte.js"></script>


    <environment include="Development">
        <script src="~/lib/font-awesome/js/jquery.js"></script>
        <script src="~/lib/font-awesome/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/font-awesome/js/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/font-awesome/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
