<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active">
        <a asp-controller="Doctors" asp-action="Index">
            <i class="fa fa-user-md" aria-hidden="true"></i>
            <span>Doctors</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span>Appointments</span>
        </a>
    </li>

    <li class="active">
        <a asp-controller="Animals" asp-action="Index">
            <i class="fa fa-paw" aria-hidden="true"></i>
            <span> Animals</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-female" aria-hidden="true"></i><span> Customers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-female" aria-hidden="true"></i><i class="fa fa-male" aria-hidden="true"></i> Customers</a></li>
        </ul>
    </li>
</ul>