@model Vet_Clinic.Web.Data.Entities.Specie

@{
    ViewData["Title"] = "Details";
}

    <section class="content-header">
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Specie</li>
        </ol>
    </section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 center-block">

                <div style="text-align:center">
                    <h3 class="card-title">Specie</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">

                        <div class="row">
                            <div class="col-sm-8">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                </dl>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                            <a asp-action="Index" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

