@model Vet_Clinic.Web.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<br />
<div class="register-box">

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Change User</p>

            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="input-group mb-3">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="FirstName" class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="LastName" class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                </a>
            </div>
        </div>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


