@model Vet_Clinic.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vet Clinic - Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />

</head>

<body>
    <!-- login form -->
    <section class="w3l-login-form" style="background: url('../../images/Pets/roma.jpeg')no-repeat center fixed;">
        <div id="form-section">
            <div class="wrapper">

                <!-- logo -->
                <div class="logo">
                    <a class="brand-logo" href="index.html">Change Password</a>
                </div>
                <!-- //logo -->
                <!-- form -->
                <div class="login-form">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>


                        <div class="form-fields d-grid">
                            <input asp-for="OldPassword" type="password" name="password" placeholder="Old Password" />
                            <span asp-validation-for="OldPassword"></span>
                       
                            <input asp-for="NewPassword" type="password" name="password" placeholder="Password" />
                            <span asp-validation-for="NewPassword"></span>
                      
                            <input asp-for="Confirm" type="password" name="Confirm" placeholder="Confirm" />
                            <span asp-validation-for="Confirm"></span>
                        </div>

                        <button type="submit">Change password</button>
                    </form>
                </div>

                <div class="new-signup">
                    <p class="signup"><a asp-action="ChangeUser" class="signuplink">Register now</a></p>
                </div>

                <!-- //form -->
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /login form -->
</body>
</html>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

