@model Vet_Clinic.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<br />
<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Change Password</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="input-group mb-3">
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="OldPassword" class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="NewPassword" class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="Confirm" type="password" class="form-control" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="Confirm" class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </form>
            <div class="text-right">
                <a asp-action="ChangeUser" class="text-center">Back to user</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

