@model Vet_Clinic.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<br />
<br />
<br />
<div class="register-box" style="margin-top:10px; margin-bottom:10px">
    <div class="container-fluid">

        <div style="text-align:center">
            <h3 class="card-title">Change Password</h3>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">

                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="input-group mb-3">
                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="OldPassword" class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="NewPassword" class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="Confirm" type="password" class="form-control" placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span asp-validation-for="Confirm" class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a asp-action="ChangeUser" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To user</a>
                        <input type="submit" value="Change password" class="btn btn-success" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

