@{
    ViewData["Title"] = "Confirm email";
}

<h2 class="center-block">@ViewData["Title"]</h2>

<div>
    <p>
        Thank you for confirming your email. Now you can login into system.
    </p>
</div>


<div>
    <img src="~/images/Owners/tenor.gif" style="margin-left:150px;"/>
</div>


@*<div class="tenor-gif-embed" data-postid="16151593" data-share-method="host" data-width="100%" data-aspect-ratio="1.0">
    <a href="https://tenor.com/view/bluey-dog-dance-tail-wagging-gif-16151593">Bluey Dog GIF</a> from
    <a href="https://tenor.com/search/bluey-gifs">Bluey GIFs</a>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>*@

