@{
    ViewData["Title"] = "Confirm email";
}

<section>

        <div>
            <h2>Email Confirmation</h2>
            <br />
            <p>
                <strong>Welcome, you are our customer now!</strong>
            </p>

            <p>
               Thank youfor confirming your email. Now you can login into system.
            </p>
            <div>
                <img src="~/images/Owners/vetConfirm.gif" style="margin-left:200px;" />
            </div>
        </div>

</section>
