@model Vet_Clinic.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vet Clinic - Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />

   
</head>

<body>
    <!-- login form -->
    <section class="w3l-login-form" style="background: url('../../images/Pets/nobel.jpeg')no-repeat center fixed;">
        <div id="form-section">
            <div class="wrapper">

                <!-- logo -->
                <div class="logo">
                    <a class="brand-logo" href="index.html">Welcome Back!</a>
                </div>
                <!-- //logo -->
                <!-- form -->
                <div class="login-form">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-fields d-grid">
                            <span asp-validation-for="UserName">
                                <input asp-for="UserName" type="text" name="username" placeholder="Username" />
                            </span>
                            <span asp-validation-for="Password">
                                <input asp-for="Password" type="password" name="password" placeholder="Password" />
                            </span>
                        </div>

                        <div class="agile_label">
                            <input asp-for="RememberMe" type="checkbox" id="check3" name="check3" value="show password">
                            <label asp-for="RememberMe" class="check" for="check3">Remember me?</label>
                        </div>

                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="new-signup">
                    <a asp-action="RecoverPassword" class="signuplink">Forgot your password?</a>
                    <p class="signup">Don’t have account yet? <a asp-action="Register" class="signuplink">Get it now</a></p>
                </div>
                <!-- //form -->


            </div>
        </div>
    </section>
    <!-- /login form -->
</body>

</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  @*  <script src="https://apis.google.com/js/platform.js" async defer></script>*@
}