@model Vet_Clinic.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<br />
<div class="register-box">
    <div class="container-fluid">

        <div style="text-align:center">
            <h3 class="card-title">Here you can easily retrieve a new password</h3>
        </div>

        <div class="card">
            <div class="box box-info">

                <div class="box-header with-border">
                 

                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="input-group mb-3">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span asp-validation-for="Email" class="fa fa-envelope"></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="Recover password" class="btn btn-primary btn-block" />
                            <br />
                            <a asp-action="Login" class="btn btn-success pull-right">Login</a>
                            <a asp-action="Register" class="btn btn-warning">Register New User</a>
                        </div>
                    </form>
                </div>

                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
