@model Vet_Clinic.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vet Clinic - Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />

</head>

<body>
    <!-- login form -->
    <section class="w3l-login-form">
        <div id="form-section">
            <div class="wrapper">

                <!-- logo -->
                <div class="logo">
                    <a class="brand-logo" href="index.html">Here you can easily retrieve a new password</a>
                </div>
                <!-- //logo -->
                <!-- form -->
                <div class="login-form">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-fields d-grid">

                            <input asp-for="Email" type="email" name="email" placeholder="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <button type="submit">Recover Password</button>
                    </form>
                </div>

                <div class="new-signup">
                    <a asp-action="Login" class="signuplink">Login</a>
                    <p class="signup"><a asp-action="Register" class="signuplink">Register now</a></p>
                </div>
                <!-- //form -->
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /login form -->
</body>
</html>

@*<br />
    <br />
    <div class="register-box">
        <div class="container-fluid">

            <div style="text-align:center">
                <h3 class="card-title">Here you can easily retrieve a new password</h3>
            </div>

            <div class="card">
                <div class="box box-info">

                    <div class="box-header with-border">


                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="input-group mb-3">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span asp-validation-for="Email" class="fa fa-envelope"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Recover password" class="btn btn-primary btn-block" />
                                <br />
                                <a asp-action="Login" class="btn btn-success pull-right">Login</a>
                                <a asp-action="Register" class="btn btn-warning">Register New User</a>
                            </div>
                        </form>
                    </div>

                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
