@model Vet_Clinic.Web.Models.RegisterNewViewModel

@{
    ViewData["Title"] = "Register";
}

<br />
<div class="register-box" style="margin-top:10px; margin-bottom:10px">

    <div class="container-fluid">

        <!-- left column -->

        <div style="text-align: center">
            <h3 class="card-title">Register New User</h3>
        </div>

        <div class="box box-info" style="margin-top:10px">

            <div class="box-header with-border">

                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                   @* <input type="hidden" asp-for="Token" />*@
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                        <span asp-validation-for="UserName" class="fas fa-envelope"></span>
                    </div>

                    <partial name="_User" />

                    <div class="form-group">
                        <input asp-for="Password" type="Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="fas fa-lock"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="PasswordConfirm" type="Password" class="form-control" placeholder="Confirm Password">
                        <span asp-validation-for="PasswordConfirm" class="fas fa-lock"></span>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {

                    }
                    <div class="col-4">
                        <input type="submit" value="Register" class="btn btn-success btn-block" />
                    </div>
                </form>
                <br />
                <a asp-action="Login" class="text-center">I already have a User Name</a>
            </div>
        </div>
    </div>
    <div class="text-success">
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>


<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


