@model Vet_Clinic.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vet Clinic - Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/login/css/style.css" type="text/css" media="all" />

</head>

<body>
    <!-- login form -->
    <section class="w3l-login-form" style="background: url('../../images/Pets/xavier.jpg')no-repeat center fixed;">
        <div id="form-section">
            <div class="wrapper">

                <!-- logo -->
                <div class="logo">
                    <a class="brand-logo" href="index.html">Retrieve Password</a>
                </div>
                <!-- //logo -->
                <!-- form -->
                <div class="login-form">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Token" />

                        <div class="form-fields d-grid">
                            <input asp-for="UserName" type="text" name="userName" placeholder="UserName" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-fields d-grid">
                            <input asp-for="Password" type="password" name="password" placeholder="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-fields d-grid">
                            <input asp-for="ConfirmPassword" type="password" name="password" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                </div>

                <!-- //form -->
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /login form -->
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
