@model Vet_Clinic.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<br />
<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Reset Password</p>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <input type="hidden" asp-for="Token" />

                <div class="input-group mb-3">
                    <input asp-for="UserName" type="email" class="form-control" placeholder="User Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="UserName" class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="Password" class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span asp-validation-for="ConfirmPassword" class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
