@model Vet_Clinic.Web.Models.DoctorViewModel

@{
    ViewData["Title"] = "Create";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Doctor
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Doctor</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">

            <form class="form-horizontal" method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="box-body">

                    <partial name="_User" />

                    <div class="form-group">
                        <label asp-for="Specialty"></label>
                        <input asp-for="Specialty" class="form-control" />
                        <span asp-validation-for="Specialty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MedicalLicense"></label>
                        <input asp-for="MedicalLicense" class="form-control" />
                        <span asp-validation-for="MedicalLicense" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile"></label>
                        <input asp-for="ImageFile" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Schedule"></label>
                        <input asp-for="Schedule" class="form-control" />
                        <span asp-validation-for="Schedule" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ObsRoom"></label>
                        <input asp-for="ObsRoom" class="form-control" />
                        <span asp-validation-for="ObsRoom" class="text-danger"></span>
                    </div>

                    <!-- /.box-body -->
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-success " />
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>

    </div>
    <!-- /.box -->
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationCurrencyPartial");}

}