@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Roles</li>
    </ol>
</section>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create </a>
</p>

<section class="content">
    <div class="row">
        <div class="col-md-7 center-block">
            <div style="text-align:center">
                <h3 class="card-title">List of Roles</h3>
            </div>
            <div class="box box-info" style="margin-top:10px">

                    @foreach (var role in Model)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Role Id: @role.Id
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@role.Name</h5>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> Delete</a>
                                <a href="#" class="btn btn-info pull-right"><i class="fa fa-edit"></i> Edit</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

</section>

