@model Vet_Clinic.Web.Data.Entities.Appointment

@{
    ViewData["Title"] = "Details";
}

<div>
    <section class="content-header">
        <h1>
            Appointments
        </h1>

        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Appointments</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Treatment</th>
                                    <th>Appointment Schedule</th>
                                    <th>Appointment Observations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Treatment)</td>
                                    <td>@Html.DisplayFor(model => model.AppointmentSchedule)</td>
                                    <td>@Html.DisplayFor(model => model.AppointmentObs)</td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                        <a asp-action="Index">Back to List</a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>


