@model Vet_Clinic.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Edit";
}

    <section class="content-header">
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Appointments</li>
        </ol>
    </section>
    <br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7 center-block">

                <div style="text-align:center">
                    <h3 class="card-title">Edit Appointment</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">

                        <form method="post" asp-action="Edit" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Doctor" class="control-label"></label>
                                                <input asp-for="Doctor" class="form-control" />
                                                <span asp-validation-for="Doctor" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Pet" class="control-label"></label>
                                                <input asp-for="Pet" class="form-control" />
                                                <span asp-validation-for="Pet" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Owner" class="control-label"></label>
                                                <input asp-for="Owner" class="form-control" />
                                                <span asp-validation-for="Owner" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="User" class="control-label"></label>
                                                <input asp-for="User" class="form-control" />
                                                <span asp-validation-for="User" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="AppointmentObs"></label>
                                                <input asp-for="AppointmentObs" class="form-control" />
                                                <span asp-validation-for="AppointmentObs" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Date" class="control-label"></label>
                                                <input asp-for="Date" class="form-control" />
                                                <span asp-validation-for="Date" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- /.box-body -->
                                <div class="form-group">
                                    <a asp-action="Index" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To List</a>
                                    <input type="submit" value="Save" class="btn btn-primary " />
                                </div>
                                <!-- /.box-footer -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationCurrencyPartial");}

}


