@model Vet_Clinic.Web.Data.Entities.Appointment

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>
        Doctor
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Doctor</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">
            <form class="form-horizontal" method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="AppointmentSchedule" ></label>
                        <input asp-for="AppointmentSchedule" class="form-control" />
                        <span asp-validation-for="AppointmentSchedule" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppointmentObs"></label>
                        <input asp-for="AppointmentObs" class="form-control" />
                        <span asp-validation-for="AppointmentObs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success " />
                    </div>
                    <!-- /.box-footer -->
                </div>
            </form>
            </div>
        </div>
        <!-- /.box -->
</section>