@model Vet_Clinic.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Schedule";
}

<section class="content-header">
    <ol class="breadcrumb">
        <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Appointments</li>
    </ol>
</section>
<br />
<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6 center-block">

                <div style="text-align:center">
                    <h3 class="card-title">Appointments</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">
                        <form asp-action="Schedule" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div class="form-group">
                                <label asp-for="CreateDate" class="control-label"></label>
                                <input asp-for="CreateDate" class="form-control" />
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="DoctorId" class="control-label"></label>
                                <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="OwnerId" class="control-label"></label>
                                <select asp-for="OwnerId" asp-items="Model.Owners" class="form-control"></select>
                                <span asp-validation-for="OwnerId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PetId" class="control-label"></label>
                                <select asp-for="PetId" asp-items="Model.Pets" class="form-control"></select>
                                <span asp-validation-for="PetId" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="AppointmentObs" class="control-label"></label>
                                <textarea asp-for="AppointmentObs" class="form-control"></textarea>
                                <span asp-validation-for="AppointmentObs" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#OwnerId").change(function () {
                $("#PetId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPetsAsync")',
                    dataType: 'json',
                    data: { ownerId: $("#OwnerId").val() },
                    success: function (pets) {
                        $("#PetId").append('<option value="0">[Select a pet...]</option>');
                        $.each(pets, function (i, pet) {
                            $("#PetId").append('<option value="'
                                + pet.id + '">'
                                + pet.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve pets.' + ex.statusText);
                    }
                });
                return false;
            })
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CreateDate").change(function () {
                //If date is selected and value is changed, clear doctor fields.
                $("#DoctorId").empty();

                // Extract minutes field from selected date
                let appointmentDate = new Date($("#CreateDate").val());

                let minutes = appointmentDate.getMinutes();

                // Validate if minutes are at 0, otherwise appointments cannot be scheduled
                if (minutes > 0) {
                    alert('Appointments must be at specific hours.');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetDoctorsAsync")',
                        dataType: 'json',
                        data: { createDate: $("#CreateDate").val() },
                        success: function (doctors) {
                            $("#DoctorId").append('<option value="0">[Select a doctor...]</option>');
                            $.each(doctors, function (i, doctor) {
                                $("#DoctorId").append('<option value="'
                                    + doctor.id + '">'
                                    + doctor.name + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve pets.' + ex.statusText);
                        }
                    });
                }
                return false;
            })
        });
    </script>
}

