@model Vet_Clinic.Web.Models.AnimalViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <h1>
        Animal
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Animal</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">
            <form class="form-horizontal" method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Breed" ></label>
                        <input asp-for="Breed" class="form-control" />
                        <span asp-validation-for="Breed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" ></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight"></label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Sterilization" /> @Html.DisplayNameFor(model => model.Sterilization)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageFile" ></label>
                        <input asp-for="ImageFile" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" ></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <!-- /.box-body -->
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-success " />
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>
            </div>
        </div>
        <!-- /.box -->
</section>
