@model Vet_Clinic.Web.Models.AnimalViewModel
@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>
        Animal
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Animal</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">
            <form class="form-horizontal" method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Breed" ></label>
                            <input asp-for="Breed" class="form-control" />
                            <span asp-validation-for="Breed" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" ></label>
                            <input asp-for="Gender" class="form-control" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Weight"></label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Sterilization" /> @Html.DisplayNameFor(model => model.Sterilization)
                                </label>
                            </div>
                        </div>
                        <div>
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:100px;height:150px;max-width:100%; height:auto" />
                            }
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                            <input type="submit" value="Save" class="btn btn-success " />
                        </div>
                        <!-- /.box-footer -->
                    </div>

                </div>
            </form>
            </div>
        </div>
        <!-- /.box -->
</section>

