@model Vet_Clinic.Web.Data.Entities.Assistant

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>
        Assistant
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Assistant</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="col-md-6 offset-md-6">

            <form class="form-horizontal" method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="box-body">

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" type="file" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <select asp-for="PhoneNumber" class="form-control"></select>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TIN" class="control-label"></label>
                            <textarea asp-for="TIN" class="form-control"></textarea>
                            <span asp-validation-for="TIN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <textarea asp-for="ImageUrl" class="form-control"></textarea>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div>
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:100px;height:150px;max-width:100%; height:auto" />
                            }
                        </div>
                        <!-- /.box-body -->
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-warning pull-right">Back to List</a>
                            <input type="submit" value="Save" class="btn btn-success " />
                        </div>
                        <!-- /.box-footer -->
                    </div>
            </form>
        </div>
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationCurrencyPartial");}

}
