@model Vet_Clinic.Web.Models.AssistantViewModel

@{
    ViewData["Title"] = "Edit";
}

    <section class="content-header">
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-home"></i> Home</a></li>
            <li class="active">Assistants</li>
        </ol>
    </section>
    <br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">

                <div style="text-align:center">
                    <h3 class="card-title">Edit Assistant</h3>
                </div>

                <div class="box box-info" style="margin-top:10px">
                    <div class="box-header with-border">

                        <form method="post" asp-action="Edit" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">


                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="TIN" class="control-label"></label>
                                                <input type="number" asp-for="TIN" class="form-control" />
                                                <span asp-validation-for="TIN" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="pull-right">

                                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                            {
                                                <img src="@Url.Content(Model.ImageUrl)" alt="Image" width="150" height="300" />
                                            }
                                            else
                                            {
                                                <img id="imgprw" alt="Image" width="150" height="300" />
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber"></label>
                                                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label asp-for="DateOfBirth" class="control-label"></label>
                                                <input asp-for="DateOfBirth" class="form-control" />
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label asp-for="ImageFile" class="control-label"></label>
                                                <input type="file" class="form-control" onchange="imagePreview(this)" />
                                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.box-body -->
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To List</a>
                                        <input type="submit" value="Save" class="btn btn-primary " />
                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationCurrencyPartial");}
    <script type="text/javascript">
        function imagePreview(input) {
            if (input.files && input.files[0]) {
                let fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#imgprw').attr('src', e.target.result);
                }
                fildr.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
