
<meta name="keywords" content="The best veterinary care for your best friend">
<meta name="description" content="">
<meta name="page_type" content="np-template-header-footer-from-plugin">
<link rel="stylesheet" href="~/Layout/nicepage.css" media="screen">
<link rel="stylesheet" href="~/Layout/Layout.css" media="screen">

<meta name="generator" content="Nicepage 2.25.0, nicepage.com">


<meta property="og:title" content="Layout">
<meta property="og:type" content="website">
<meta name="theme-color" content="#478ac9">
<link rel="canonical" href="index.html">
<meta property="og:url" content="index.html">


<header class="u-clearfix u-header u-header" id="sec-5df9">

    <section class="content-header">
        <div id="demo"
             style="font-size:20px; color:#0c7070;background-color:#f7f2dd;">
        </div>
        <div class="u-image u-image-round u-logo u-image-1">
            <img src="~/Layout/images/logoPet.png" class="u-logo-image u-logo-image-1" data-image-width="173">
        </div>
        <div>
            <a asp-controller="Qrcode" asp-action="Index">
                <i class="fa fa-qrcode"></i>
                <span> Qrcode</span>
            </a>
        </div>
    </section>
</header>
<section class="u-clearfix u-section-1" id="carousel_0cf8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-height u-gradient u-shape u-shape-rectangle u-shape-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down"></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <h5 class="u-custom-font u-text u-text-font u-text-palette-4-dark-2 u-text-1">Welcome</h5>
                                    <h1 class="u-text u-text-2">&nbsp;The best veterinary care for your best friend</h1>
                                    <p class="u-large-text u-text u-text-variant u-text-3">
                                        The best specialized Veterinary Clinic in Lisbon focused on providing medical and surgical services<br>applying the most current techniques for accurate diagnoses and timely treatments.<br>
                                    </p>
                                    <div class="u-btn-round u-button-style u-btn-1">

                                        <a asp-controller="Account" asp-action="Register">
                                            <i class="fa fa-user"></i>
                                            <span> Register</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-palette-3-light-3 u-right-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <img class="u-expand-resize u-image u-image-round u-image-1" src="~/Layout/images/montargil.jpg" data-image-width="3264" data-image-height="2448" data-animation-name="swing" data-animation-duration="4000" data-animation-delay="0" data-animation-direction="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <h3 class="u-custom-font u-text u-text-font u-text-4">Pet's</h3>
                                    <p class="u-text u-text-5">One of the secrets of our Pets' longevity is constant communication with you, helping to keep our Veterinary Clinic team always informed about the lifestyle of your Dog, Cat or other more Exotic Animal?</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <p class="u-align-left u-text u-text-6">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <font class="u-text-palette-4-dark-2">
                                            <b>&nbsp; &nbsp;SCHEDULE &amp; CONTACTS</b>
                                        </font>
                                        <br>
                                        <br>Monday to Friday from 9.00 to 20.00<br>
                                        <br>T. 210 425 210<br>
                                        <br>Praça dos Açores nº 2, 1º Dt<br>1800-280 Lisbon
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let d = new Date().toLocaleDateString("en-EN",
        {
            month: "long",
            weekday: "long",
            day: "2-digit",
            year: "numeric"
        })
    document.getElementById("demo").innerHTML = d;
</script>