<section class="content-header">
    <h1>
    Home
    <small>Veterinary Clinic</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->

    bla bla bla <br />
    bla bla bla

</section>