@model Vet_Clinic.Web.Models.AppointmentViewModel


@{
    ViewData["Title"] = "Create";
}

<h2>Schedule</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Schedule" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" />

            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" asp-items="Model.Pets" class="form-control"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                AppointmentObs
                <label asp-for="AppointmentObs" class="control-label"></label>
                <textarea asp-for="AppointmentObs" class="form-control"></textarea>
                <span asp-validation-for="AppointmentObs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Schedule" class="btn btn-primary" />
                <a asp-action="MyAppointments" class="btn btn-success">Back to the appointments</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

